html {
	height: 100%;
}

body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	min-height: 100%;
	height: 100%;
	background-color: #1B1917;
	-webkit-font-smoothing: antialiased;
}

#header {
	top: 0px;
	left: 0px;
	z-index: 100;
	position: fixed;
    height: 45px;
    width: 100%;
    background-color: #343230;background: -moz-linear-gradient(#3B3937, #2B2927);
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
    -moz-box-shadow: 0 1px 0 black;
    -webkit-box-shadow: 0 1px 0 black;
}

#content {
	z-index: 0;
	left: 250px;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding: 55px 10px 10px 10px;
	position: absolute;
	background-color: #1B1917;
}

#toolbar {
	z-index: 98;
	position: fixed;
	padding-top: 45px;
    -webkit-box-shadow:inset 0px 0px 0px 1px #000;
    -moz-box-shadow:inset 0px 0px 0px 1px #000;
    box-shadow:inset 0px 0px 0px 1px #000;
	background-color: #3B3937;
	float: left;
	width: 250px;
	height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
}

.level1 {
    list-style-type: none;
    margin-left: -25px;
    color: #777777;
    font-family: tahoma;
    font-size: 12px;
}

.level1 li {
    margin-top: 19px;
}

.level2 {
    list-style-type: none;
    font-family: tahoma;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: -50px;
	margin-right: 5px;
}

.level2 li {
    margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer {
	z-index: 99;
    position: fixed;
    bottom: 0;
    padding: 5px 5px 5px 5px;
    height: 45px;
    width: 100%;
    font-family: tahoma;
    color: #FFFFFF;
}

.button {
	border: 0px;
	font-family: tahoma;
	font-size: 12px;
    color: #FFFFFF;
    display: inline-block;
    padding: 1px 15px;
    border-radius: 4px;
    vertical-align: top;
    float: left;
    line-height: 27px;
    margin: 7px 0 0 7px;
    background: -moz-linear-gradient(#4B4947, #32302D);
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
}

.button:active {
    padding: 2px 15px 0 15px;
    background: #272727;
    -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

.button.disabled {
    color: #111;
    padding: 1px 15px;
    text-shadow: 0 1px 0 #4B4947;
    background: -moz-linear-gradient(#3B3937, #2B2927);
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
    -moz-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
}

ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

.active {
    background: #272727;
    display: block;
    -webkit-user-select: none;
    cursor: default;
    position: relative;
    -webkit-box-shadow: inset 0 0 6px #070707, inset 0 0 3px #070707, 0 1px 0 #4B4947;
    -moz-box-shadow: inset 0 0 6px #070707, inset 0 0 3px #070707, 0 1px 0 #4B4947;
}

.content {
    display: none;
}

.buttondiv {
	width: 16px;
	height: 16px;
	font: 12px Tahoma, sans-serif;
	text-shadow: 0 1px 0 black;
	color: white;
	float: left;
	line-height: 27px;
	margin: 7px 0 0 7px;
	display: block;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
	vertical-align: top;
	background: -moz-linear-gradient(#4B4947, #32302D);
	background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
	-moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
	-webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
	-webkit-user-select: none;
	cursor: default;
}

.buttondiv:active {
	padding: 10px 15px 10px 15px;
	background: #272727;
	-moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
	-webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

.buttondiv.disabled {
	color: #111;
	padding: 1px 15px;
	text-shadow: 0 1px 0 #4B4947;
	background: -moz-linear-gradient(#3B3937, #2B2927);
	background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
	-moz-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
	-webkit-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
}

canvas {
	cursor: crosshair;
}

#startFreeHand {
	cursor: pointer;
}

#endFreeHand {
	cursor: pointer;
}

.reset {
	text-decoration: underline;
	display: inline-block;
	line-height: 24px;
	margin: 15px 0 0 15px;
	cursor: pointer;
	color: #777;
}

.ui-slider {
	margin-top: 9px;
    cursor: default;
    position: relative;
    height: 1px;
	width: 120px;
}

.label {
	font-size: 12px;
	padding-top: 8px;
	color: #989898;
}

.slidertd {
	font-size: 6px;
}

#image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#canvas2d {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.newCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#canvas-container {
	position: relative;
}

#nubs {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

.nub {
	z-index: 1000;
	position: absolute;
	width: 12px;
	height: 12px;
	cursor: move;
	margin: -6px;
	background: -moz-linear-gradient(#4B4947, #32302D);
	background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
	-moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
	-webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
	border-radius: 6px;
}

.level1 img {
	width: 16px;
	height: 16px;
}

#icon-container {
	overflow: auto;
	padding-left: 10px;
}

.icon {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 7px 0 7px 7px;
	display: block;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
	vertical-align: top;
	background: -moz-linear-gradient(#4B4947, #32302D);
	background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
	-moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
	-webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
	-webkit-user-select: none;
	cursor: default;
}

.icon.active {
	padding: 10px 15px 10px 15px;
	background: #272727;
	-moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
	-webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

.icon.disabled {
	color: #111;
	padding: 10px 15px 10px 15px;
	text-shadow: 0 1px 0 #4B4947;
	background: -moz-linear-gradient(#3B3937, #2B2927);
	background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
	-moz-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
	-webkit-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
}
